[submodule "treasury_contracts/external/stablecoin-contract"]
	path = treasury_contracts/external/stablecoin-contract
	url = https://github.com/ton-blockchain/stablecoin-contract.git
[submodule "treasury_contracts/external/l1_tvm_ton"]
	path = treasury_contracts/external/l1_tvm_ton
	url = git@gitlab.com:ton-app-chain/tac/smart-contracts/l1_tvm_ton.git
